/* Estilos CSS */
body {
    font-family: 'Gotic';
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #341150;
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .catalog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .catalog-item {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  
  .image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .product {
    flex-basis: 30%;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product .like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .product .like-btn i {
    color: #ddd;
    font-size: 24px;
  }
  .like-btn i.liked {
    color: red;
  }
  
  .block {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #341150;
    color: #fff;
    padding: 10px;
    text-align: flex;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #341150;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  footer{
    text-align: center;
  }
  .rodape{
    display: flex;
    gap: 100px;
  }

  * {
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    background-color: #341150;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
    border: 5px solid rgb(34, 30, 30);
}

.container-items {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}
.action-button:hover{
    color: white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}